{% load i18n %}
{% load sharer_tags %}

{% if networks %}

<div class="share-box">
    
    <h4>{% trans "Share" %}</h4>
    
    <p><a href="{% url sharer_share %}?url={{ url|urlencode }}&title={{ title|urlencode }}">{% trans "Send Email" %}</a></p>
    
    <ul>
        {% for network in networks %}
        <li><a href="{% share_url network title url %}">{{ network.name }}</a></li>
        {% endfor %}
    </ul>
    
</div>

<script type="text/javascript">
//<![CDATA[
    new core.Sharer("div.share-box", {
        url : "{{ url }}",
        title : "{{ title }}"
    });
//]]>
</script>

{% endif %}